<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emall.mapper.TbShippingMapper">
    <resultMap id="BaseResultMap" type="com.emall.pojo.TbShipping">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName"/>
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="district" jdbcType="VARCHAR" property="district"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="zip" jdbcType="VARCHAR" property="zip"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, order_id, user_id, receiver_name, receiver_phone, province, city, district, address, zip, created, updated,
    </sql>

    <insert id="insert" parameterType="com.emall.pojo.TbShipping">
        insert into tb_shipping values (#{id},#{orderId},#{userId},#{receiverName},#{receiverPhone},#{province},#{city},#{district},#{address},#{zip},#{created},#{updated})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from tb_shipping where id=#{id}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select * from tb_shipping where id=#{id}
    </select>
</mapper>